#qi-play-dialog {
  .preset {
    border: 1px solid $gray-lighter;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;

    background: linear-gradient(to bottom, white 0%, $gray-lighter 100%);

    &.active {
      border: $brand-primary;
      color: white;
      background: linear-gradient(to bottom, lighten($brand-primary, 20%) 0%, lighten($brand-primary, 10%) 100%);

      .preset-description {
        color: darken(white, 5%);
      }
    }

    p {
      margin: 0;
    }

    .preset-name {
      font-size: 20px;
    }

    .preset-description {
      @extend .text-muted;
    }
  }

  .preset + .preset {
    margin-top: 10px;
  }

  .form-horizontal {
    .form-group:last-child {
      margin-bottom: 0;
    }

    .control-label {
      text-align: left;
      padding-left: 20px;
    }
  }
}
