.qi-board {
  width: 100%;
  display: block;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .wgo-board {
    margin: 0 auto;

    border-radius: 2px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .25);
  }
}

.board-confirm-click {
  margin-top: 10px;
}
